//colors
@import "application-colors";

//margins
@import "application-margins";

//Typography
$font-family-base: "Merriweather", Helvetica, Arial, Sans-serif;
$font-family-code: 'Inconsolata', monospace;

$font-weight-fat: 700;
$font-weight-medium: 500;
$font-weight-normal: 400;

$font-size-base: 20px;

$font-size-h1: 66px;
$font-size-h2: 40px;
$font-size-h3: 30px;
$font-size-h4: 24px; //used for buttons as well
$font-size-h5: 20px;