//colors
@import "application-colors";

//margins
@import "application-margins";

//Typography
$font-family-sans-serif: "Open Sans", Helvetica, Arial, Sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, Serif;

$font-weight-heading: 700;
$font-weight-buttons: 600;

$font-size-base: 14px;
$font-size-large: 18px;

$font-size-h1: 64px;
$font-size-h2: 36px;
$font-size-h3: 24px;
$font-size-h4: 18px;
