.form-container
	label(for="name", class="form-label")
		h5 Namn:
	input(id="name", class="input-field", name="input-type-name", type="text", aria-required="true", aria-invalid="false", aria-describedby="name-input-alert")
	div(id="name-input-alert")
		p Både för- och efternamn behöver fyllas i.
.form-container
	label(for="email", class="form-label")
		h5 Mailadress:
	input(id="email", class="input-field", name="input-type-email", type="email", aria-required="true", aria-invalid="false", aria-describedby="email-input-alert")
	div(id="email-input-alert")
		p Ogiltig emailadress.

.comment-div
	h4 Kommentarer

	p Egenskapen <span class="code-text">aria-required</span> sätts för ett formulär för att indikera för användaren att det är nödvändigt att fylla i formuläret.
	p State <span class="code-text">aria-invalid</span> används för att indikera för användaren vilka fält som har inkorrekt data, och sätts programmatiskt till <span class="code-text">true</span> eller <span class="code-text">false</span>.
