.modal-container
	button(id="modal-open-button", type="button" aria-controls="alert") Öppna modal

	div(id="alert", role="alertdialog", aria-hidden="true", aria-labelledby="alert-title", aria-describedby="alert-message")
		h4(id="alert-title") Modal
		p(id="alert-message", role="document") Modalens meddelande.
		button(id="modal-ok-button", type="button") OK
#overlay

.comment-div
	h4 html-kod
	img(src="images/modal.png", alt="html-kod dialogruta", class="code-img")

.comment-div
	h4 Kommentarer

	p Knappen som kontrollerar dialogrutan ska ha <span class="code-text">aria-controls</span> satt till dialogrutans <span class="code-text">id</span>.
	p Generellt ska en dialogruta ha <span class="code-text">role="dialog"</span>. Om det är en enklare dialogruta med ett meddelande som varnar eller begär bekräftelse (t ex "Är du säker på att du vill avsluta?") så är riktlinjen att rollen ska sättas till <span class="code-text">alertdialog</span>.
	p Dialogrutan ska vara modal och det uppnås genom att se till att, medan dialogrutan visas, ska interaktion med mus och tangentbord endast kunna göras inom dialogrutan.
	p Dialogrutan har egenskapen <span class="code-text">aria-label</span> eller <span class="code-text">aria-labelledby</span> satt till <span class="code-text">id</span> för dialogrutans titel. Om titeln är synlig ska <span class="code-text">aria-labelledby</span> användas, men är den inte visuellt synlig ska <span class="code-text">aria-label</span> användas istället.
	p Dialogrutan har även en <span class="code-text">aria-describedby</span> som refererar till dialogrutans meddelande (elementets <span class="code-text">id</span>).
	p Dialogrutans meddelande ska även ha <span class="code-text">role="document"</span>. När en användares fokus är på ett element som har <span class="code-text">role="document"</span> kan hjälpmedel som har ett läsläge för statiskt innehåll byta till det läsläget, där användaren kan kontrollera läsmarkören.