.modal-container
	button(id="modal-open-button", type="button" aria-controls="alert")
		h4 Öppna modal

	div(id="alert", role="alertdialog", aria-hidden="true", aria-labelledby="alert-title", aria-describedby="alert-message")
		h4(id="alert-title") Modal
		p(id="alert-message", role="document", tabindex="0") Modalens meddelande.
		button(id="modal-ok-button", type="button")
			h5 OK
#overlay
.comment-div
	h4 Kommentarer

	p Knappar ska ha role="button". "Label" behövs och sätts automatiskt till texten inuti knappen. Den kan också ges med "aria-label" eller "aria-labelledby". Om en beskrivning av knappens funktion finns, ska knappen ha "aria-describedby" satt till ID:t för elementet som innehåller beskrivningen.
	p När en knapps funktion inte är tillgänglig, ska knappen ha state "aria-disabled".
	p Om det är en knapp med "toggle"-funktion ska den ha ett aria-pressed state som sätts till true eller false.
	p Generellt ska en dialogruta ha role="dialog". Om det är en enklare dialogruta med ett meddelande som varnar eller begär bekräftelse (t ex "Är du säker på att du vill avsluta?") så är riktlinjen att role ska sättas till "alertdialog".
	p Dialogrutan ska vara modal och det uppnås genom att se till att, medan dialogrutan visas, ska interaktion med mus och tangentbord endast kunna göras inom dialogrutan.
	p Dialogrutans titel ges av egenskapen aria-label eller aria-labelledby.
	p Elementet med role="alertdialog" har en aria-describedby som refererar till meddelande-elementet.
	p Meddelande-elementet ska ha role="document" och "tabindex=0". När en användares fokus är på ett element som har role="document" kan hjälpmedel som har ett läsläge för statiskt innehåll byta till det läsläget, där användaren kan kontrollera läsmarkören.