extends layouts/root
block rootcontent
	.section
		h1 WAI-ARIA Exempel

	.section
		h2 Dragspelsmeny
		include components/accordion
	.section
		h2 Tabblista
		include components/tablist
	.section
		h2 Formulär med validering och dialogruta(modal)
		include components/form