extends layouts/root
block rootcontent
	.section
		h1 WAI-ARIA Exempel

		h3 aria-live
		h3 aria-hidden
		h3 aria-expanded
		h3 aria-haspopup
		h3 aria-invalid
		h3 aria-describedby
		h3 aria-controls

	.section
		h2 Dragspelsmeny
		include components/accordion
	.section
		h2 Tabblista
		include components/tablist
	.section
		h2 Formulär med validering
		include components/form
	.section
		h2 Knapp och dialogruta (modal)
		include components/modal
	.section
		h2 Dropdown-meny
