extends layouts/root
block rootcontent
	.section
		h1 WAI-ARIA Exempel
		h3 Definitioner och praktiska exempel på användning av W3C:s standard WAI-ARIA, Accessible Rich Internet Applications Suite, som definierar ett sätt att göra webbinnehåll och -applikationer mer tillgängliga för personer med funktionshinder.
	.section
		h2 Definition av viktiga WAI-ARIA attribut

		H3 States

		h4 aria-hidden
		p aria-hidden indikerar om ett element är synligt eller inte. Ett element anses vara dolt om det inte återges eller har sitt aria-hidden attribut satt till true. Läs mer:
		a(href="https://www.w3.org/TR/wai-aria-1.1/#aria-hidden") W3C aria-hidden

		h4 aria-expanded
		p aria-expanded indikerar om elementet, eller ett annat element som det kontrollerar, är expanderat eller inte. Till exempel kan det indikera om en del av en meny är utfäld eller inte. Läs mer:
		a(href="https://www.w3.org/TR/wai-aria-1.1/#aria-expanded") W3C aria-expanded

		h4 aria-invalid
		p aria-invalid indikerar om det inmatade värdet inte har angetts enligt formatet som förväntas av applikationen. Om värdet beräknas vara ogiltigt ska attributet sättas till true. Användaren bör informera om felet och komma med försöag på lösning av det. Läs mer:
		a(href="https://www.w3.org/TR/wai-aria-1.1/#aria-invalid") W3C aria-invalid


		h3 Egenskaper

		h4 aria-describedby
		p aria-describedby identifierar det element (ett eller flera) som beskriver objektet. Det används för att sätta en relation mellan element och text som beskriver dem. Aria-describedby liknar aria-labelledby som beskriver essensen av ett objekt. En beskrivning ger dock mer information som användaren kan behöva. Läs mer:
		a(href="https://www.w3.org/TR/wai-aria-1.1/#aria-ariadescribedby") W3C aria-describedby

		h4 aria-activedescendant
		p aria-activedescendant identifierar det element som är aktivt, när fokus är på till exempel en meny som kan innehålla undermenyer. Aria-activedescendant erbjuder en alternativ metod för att hantera fokus för interaktiva element som kan innehålla flera fokuserbara undergrupper, så som menyer, grids och verktygsfält. Istället för att flytta fokus bland undergrupperna, kan utvecklaren sätta fokus på ett element som som stödjer activedescendant för att referera till det element som är aktivt. Läs mer:
		a(href="https://www.w3.org/TR/wai-aria-1.1/#aria-activedescendant") W3C aria-activedescendant

		h4 aria-live
		p aria-live indikerar att ett element kommer att uppdateras och vilka uppdateringar som kan förväntas från live-området. Attributets värden uttrycks i betydelse, och värdena som finns är off (som är default), assertive och polite. När regionen specificeras som Polite, kommer hjälpmedel att notifiera användaren, men inte avbryta en pågående handling. När området specificeras som Assertive kommer hjälpmedel omedelbart notifiera användaren. Läs mer:
		a(href="https://www.w3.org/TR/wai-aria-1.1/#aria-live") W3C aria-live

		h4 aria-controls
		p aria-controls identifierar det element (ett eller flera) var innehåll eller synlighet kontrolleras av det aktuella elementet. Det kan till exempel vara en flik som kontrollerar visning av relaterat flik-innehåll. Läs mer:
		a(href="https://www.w3.org/TR/wai-aria-1.1/#aria-controls") W3C aria-controls

		h4 aria-haspopup
		p aria-haspopup anger tillgänglighet och typ av interaktivt popup-element, som till exempel en meny, som triggas av ett element. För att ett popup-element ska vara tillgängligt via tangentbordsnavigering, behöver utvecklaren se till att elementet som triggar popup:en är fokuserbart, att det finns en tangentbordslösning för att öppna popup:en, och att popup-elementet styr fokus för sina undergrupper. Läs mer:
		a(href="https://www.w3.org/TR/wai-aria-1.1/#aria-haspopup") W3C aria-haspopup

	.section
		h2 Exempel
		h3 1 Dragspelsmeny
		include components/accordion
	.section
		h3 2 Tabblista
		include components/tablist
	.section
		h3 3 Formulär med validering
		include components/form
	.section
		h3 4 Knapp och dialogruta (modal)
		include components/modal
	.section
		h3 5 Dropdown-meny
		include components/dropdown
	.section
		h3 6 BMI-uträknare
		include components/calculator
