body {
    margin: 0;
}

.w3c-link {
    text-decoration: none;
    font-size: $font-size-h5;
    color: $green;
    font-weight: $font-weight-fat;
}

.page-heading-section {
    background-color: $dark-blue;
    color: $white;
    padding: 100px 330px 50px;
    margin: 0;
}