#dropdown {
	background-color: $green;
	list-style-type: none;
	padding: 20px;
	margin: 0;
}

#menuitem1, #menuitem2 {
	cursor: pointer;
	display: inline;
	margin-right: 20px;
		h4 {
			color: white;
			text-decoration: none;
			display: inline;
		}
}

#subdropdown {
	cursor: pointer;
	display: none;
	list-style-type: none;
	width: 300px;
	margin: 0;
	padding-left: 0;
	cursor: pointer;

	p {
		color: white;
		text-decoration: none;
		margin: 0;
		font-weight: $font-weight-fat;
	}
}

.menuitem {
	margin: 10px 10px 10px 0;
	background-color: $green;
	padding: 20px;
}

.arrow-img {
	width: 20px;
	height: auto;
	padding: 0 10px;
}

#dropdown-content {
	background-color: $white;
	border: 3px solid $green;
	display: block;
	margin-top: 30px;
	height: 300px;
}

#content1, #content2, #content3  {
	display: none;
	color: $green;
	padding-left: 20px;
}