#email-input-alert, #name-input-alert {
	display: none;
}

.input-field {
	height: 50px;
	width: 250px;
	padding: 0 10px;
	border: 3px solid $green;
}

.form-label {
	display: block;
	padding: 10px 0;
	font-weight: $font-weight-fat;
	font-size: $font-size-h5;
}