.modal-container {
	position: relative;
}

#modal-open-button {
	background-color: $green;
	color: $white;
	border: none;
	border-radius: 10px;
	padding: 20px;
	cursor: pointer;
	font-weight: $font-weight-fat;
	font-size: $font-size-h4;
	font-family: $font-family-base;
}

#modal-ok-button {
	background-color: $green;
	color: $white;
	border: none;
	border-radius: 10px;
	padding: 10px;
	margin-left: 20px;
	cursor: pointer;
	font-weight: $font-weight-fat;
	font-size: $font-size-h5;
	font-family: $font-family-base;
}

#alert {
	background-color: $white;
	border: 3px solid $green;
	position: absolute;
	height: 200px;
	left: 0;
	bottom: 0;
	display: none;
	z-index: 1;

	#alert-title {
		background-color: $green;
		color: $white;
		margin: 0;
		padding: 10px;
	}

	#alert-message {
		margin: 20px;
	}
}

#overlay {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 700%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 0;
}