.tablist {
	list-style: none;
	padding: 0;
}

.tab {
	background-color: $white;
	color: $green;
	float: left;
	padding: 0px 30px;
	margin: 0 10px;
	border-style: solid;
	border-width: 3px 3px 0 3px;
	border-color: $green;
	cursor: pointer;
	font-weight: $font-weight-fat;
		p {
			margin: 10px;
		}
}

.tab.selected {
	color: $white;
	background-color: $green;
}

.tab-panel {
	clear: both;
	display: block;
	margin: 0;
	border: 3px solid $green;
	background-color: $white;

	h3, p {
			text-align: left;
			margin: 0;
	}

	p {
		padding: 0 20px 20px;
	}

	h4 {
		padding: 0 20px 10px;
	}
}

#panel2, #panel3, #panel4 {
	display: none;
}
