body {
	font-family: $font-family-base;
}

h1 {
	font-size: $font-size-h1;
	font-family: $font-family-base;
	font-weight: $font-weight-fat;
	margin: 0;
}

h2 {
	font-size: $font-size-h2;
	font-family: $font-family-base;
	font-weight: $font-weight-medium;
}

h3 {
	font-size: $font-size-h3;
	font-family: $font-family-base;
	line-height: 1.7em;
	font-weight: $font-weight-normal;
}

h4 {
	font-size: $font-size-h4;
	font-family: $font-family-base;
	margin-bottom: 0;
	font-weight: $font-weight-fat;
}

h5 {
	font-size: $font-size-h5;
	font-family: $font-family-base;
}

p {
	font-size: $font-size-base;
	font-family: $font-family-base;
	line-height: 1.5em;
}